.poster {
	max-width: 100%;
}

.description {
	margin-top: 16px;
}

.info_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
	margin-top: 16px;
}

.rating {
	margin-top: 16px;
}

.rating_data {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.rating_title {
	margin-bottom: 16px;
}

.roles {
	margin-top: 16px;
}

.roles_title {
	margin-bottom: 16px;
}

.comments__wrapper {
	margin-top: 32px;
}

.comment_item {
	margin-bottom: 16px;
}

.inner {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.inner__header {
	display: flex;
	align-items: center;
	align-self: flex-start;
	gap: 40px;
	width: 100%;
}

.like_block {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.like_status {
	margin-right: 16px;
}

.like__active {
	color: #ff0000;
}

.like__active svg path {
	fill: #ff0000;
}

.like {
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.h1 {
	max-width: 500px;
}

.delete {
	margin-top: auto;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.tags_list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin-top: 15px;
}

.tag_item {
	display: flex;
	align-items: center;
	gap: 5px;
}

.comment_text {
	margin-bottom: 15px;
}
